/* start General rules */
:root {
    --font-1: 'Fraunces', serif;
    --font-2: 'Montserrat', sans-serif;
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-greyish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* end General rules */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cream);
    
}

.card {
    background-color: var(--white);
    display: flex;
    max-width: 35%;
    border-radius: 12px;
   
}

.card img {
    max-width: 50%;
    border-radius: 12px 0 0 12px;
}

.container-texts {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h6 {
    font-family: var(--font-2);
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--dark-greyish-blue);
}

h2 {
    font-family: var(--font-1);
    font-weight: 700;
    color: var(--very-dark-blue);
}

.desc {
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 14px;
    color: var(--dark-greyish-blue); 
}

.price {
    font-family: var(--font-1);
    font-weight: 700;
    color: var(--dark-cyan);
}

.add-btn {
    background-color: var(--dark-cyan);
    color: var(--white);
    font-family: var(--font-2);
    font-size: 14px;
    padding: 16px 40px;
    text-align: center;
    border-radius: 12px;
}

.add-btn img {
    margin-right: 5px;
}

.add-btn:hover {
    background-color: hsl(158deg 36% 15%);
    cursor:pointer;
}